<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novel Details</title>
</head>
<body>
  <%- include('partials/navbar.ejs') %>
  <div>
    <h1>Novel Details</h1>
    <p>Novel Name : <%=novel.nName%></p>
    <p>Novel Price : <%=novel.price%></p>
    <p>Novel Description : <%=novel.desc%></p>
    <p>Novel Summary : <%=novel.summary%></p>
  </div>  
</body>
</html>